/* DEFAULT */
body {
	background-color: #1C1F25;
}

@media (min-width: 781px) {
	body.site-layout-boxed #off-canvas-body-inner { margin: 0 auto; }
}
	
#page-wrapper {
	margin-top: 20px !important;	
}

#off-canvas-body-inner {
	background: transparent;
	color:#FFF;
}

hr {
	border-top: 5px solid #2F333A !important;
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-slider .title,
.post-slider .widget .widget-title,
.widget .post-slider .widget-title,
.label,
.bbp-topic-tags a,
.woocommerce .product_meta .post-tags a,
.tagcloud a ,
.post-box-large-thumbnail .title,
.post-box-large-thumbnail .widget .widget-title,
.widget .post-box-large-thumbnail .widget-title,
.post-box-classic .title,
.post-box-classic .widget .widget-title,
.widget .post-box-classic .widget-title,
.post-meta,
.post .post-title ,
.btn,
input[type=button],
input[type=submit]  {
	text-transform: none !important;
}

body.page.page-template-page_composer-php .vwpc-row .section-title,
.vwpc-section-custom_content .section-title.title.title-large {
	color:#dac593;
}

#page-wrapper .row .col-sm-8 .row:first-child .vwpc-section-custom_content .section-title.title,
#page-wrapper .row .col-md-9 .row:first-child .vwpc-section-custom_content .section-title.title {
	color:#FFF !important;
	font-size: 2.6em !important;
}

.section-title {
	color:#dac593;
}

#page-content .section-title {
	color:#FFF !important;
}

/* LOGO */
#logo .logogram,
#logo .logo-tagline {
	float: left;
}

.logo-tagline h2 {
	color:#BD9735;
	margin-left: 40px;
	margin-top: 163px !important;
}

.logo-tagline h2.subtitle {
	font-size: 20px;
	color:#BD9735
}

#logo-m {
	float: left;
}

@media (max-width: 1199px) and (min-width: 992px) {
	.search-top {
		margin-top: 200px !important;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.search-top {
		margin-top: 200px !important;
	}
}

@media (max-width: 767px) {
	.search-top {
		margin-top: 200px !important;
	}
}

/* MAIN BAR */
.main-bar {
	background-color: #000 !important;
	color:#FFF;
}

.main-bar h1,
.main-bar h2 {
	color:#FFF;
}

.search-top {
	display: inline-block;
	margin-top: 145px;
	float: right;
}

.search-top form {
	float: right;
	clear: left;
	border: 1px solid rgba(255,255,255,0.3);
}

.search-top form input[type="text"] {
	font-size: 14px;
	padding: 6px 10px;
	color: #999;
	border: 2px solid #666;
	border-radius: 0;
	background: #444;
	margin: 0;
	max-width: 100%;
	outline: none;
}

.search-top form .search-button {
	border: 2px solid #666;
	background-color: #444;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	padding: 0 5px;
}

/* MAIN NAV */
.main-nav-bar {
	background-color: #DAC593 !important;
	
	font-weight: bold;
}

.main-nav > .menu-item > .menu-link {
	font-size: 14px;
	padding: 10px !important;	
}

.main-nav > .menu-item:hover > .menu-link  {
	background: #e6a157 !important;
}

.main-nav .menu-link  {
	text-transform: none;
}

.main-nav > .menu-item {
	margin-left: -3px;
}

.main-nav > .menu-item:first-child {
	margin-left: 0;
}

.main-nav .sub-menu {
	background: #f1e9d8 !important;
}

.main-nav .sub-menu-item {
	min-width: 160px;
}

.main-nav > .current-menu-item > a {
	background-color: #c5721a !important;
	color: #FFF  !important;
}

.main-nav .menu-item:hover > .menu-link {
	background-color: #e6a157 !important;
	color: #1c1f25;
}

/* SLIDER */

.post-slider .title,
.post-slider .widget .widget-title,
.widget .post-slider .widget-title {
	font-size: 2.6em;
}

.flexslider {
	border:none;
}

a.flex-active {
	background: #FFF;
}

.flex-control-paging li a.flex-active {
	background: #DAC593 !important;
}

/* SECTION */
.section-title {
	font-size: 1.8em;
	text-transform: none;
}

.vwpc-section-custom_content .section-title.title.title-large {
	font-size: 2.6em;
	color:#FFF !important;
	font-weight: 400 !important;
	line-height: 1.2em !important;
	letter-spacing: 1px !important;
}

body.page.page-template-page_composer-php .vwpc-row:first-child {
	margin-top: 63px;
	margin-bottom: 0;
}

body.page.page-template-page_composer-php .vwpc-row:nth-child(2) {
	margin-top: 0;
}

.post-box-list .post-box {
	border-bottom: 1px solid transparent;
}

.title-big {
	color: #fff;
	font-size: 3.5em;
}

/* WIDGET // SIDEBAR */
.widget h3 {
	margin-top: 0;
	padding-top: 0;
	font-size: 1.7em;
	color:#dac593;
}

.widget .post-box  {
	margin-bottom: 20px; 
}

.post-box .title, .post-box .widget .widget-title, .widget .post-box .widget-title {
	margin-top: 0;
	margin-bottom: 0;
}

.widget .post-categories a {
	font-size: 16px;
	font-weight: 400;
	line-height: 1em;
	letter-spacing: 1px;
	color:#FFF !important;
}

.widget .social-media i {
	font-size: 14px;
}

.widget .social-media a {
	color:#FFF;
	padding: 10px 0;
	margin-right: 10px;
	display: inline-block;
}

.widget .social-media a:hover {
	opacity: .8;
}

.widget .social-media i.icon-social-facebook {
	background: #3b5999;
	padding: 10px;
	border-radius: 50%;
}

.widget .social-media i.icon-social-gplus {
	background: #c30102;
	padding: 10px;
	border-radius: 50%;
}

.widget .social-media i.icon-social-twitter {
	background: #00acee;
	padding: 10px;
	border-radius: 50%;
}

.widget .social-media i.icon-social-pinterest {
	background: #d2202e;
	padding: 10px;
	border-radius: 50%;
}

.widget .form-control {
	width: 100%;
}

.widget .post-box-classic .post-thumbnail-wrapper {
	width: 47%;
	margin-left: 0;
	margin-right: 3%;
	float: left;
}

.widget .newsletter input[type=submit] {
	background: #444;
	border-color: #666;
	color:#FFF;
}

/* CONTENT */
.subtitle {
	font-family: inherit;
	font-size: 16px;
	line-height: normal;
	letter-spacing:normal;
}

.post-content {
	background: #f6f5e7;
	display: block;
	padding: 20px;
	color:#444;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content p {
	color:#444;
}

.post-content p {
	font-size: 14px;
	line-height: 21px;
}

.post-media {
	margin: 20px 0;
}

.social-share a {
	color:#FFF;
}

.social-share h3 {
	color:#dac593
}

.social-share i.icon-social-facebook {
	background: #3b5999;
	padding: 10px;
	border-radius: 50%;
}

.social-share i.icon-social-gplus {
	background: #c30102;
	padding: 10px;
	border-radius: 50%;
}

.social-share i.icon-social-twitter {
	background: #00acee;
	padding: 10px;
	border-radius: 50%;
}

.social-share i.icon-social-pinterest {
	background: #d2202e;
	padding: 10px;
	border-radius: 50%;
}

/* FOOTER */
a.footer-link {
	margin-right: 10px;
}

#footer h3 {
	font-size: 1em;
	color:#a7a9ad;
}

#footer .widget-title {
	color:#CCC !important;
}

#footer a {
	color:#a7a9ad;
}

.guide-group {
	margin-bottom: 2px;
}

.guide-group a {
	margin-right: 5px;
}

a.guide-city {
	color:#CCC !important;
}


/* UNCATEGORIZED - REMOVE? */
.post-box-classic .post-thumbnail-wrapper {
	width: 47%;
	margin-left: 3%;
	margin-right: 0;
	float: right;
}

.review-box {
	display: none;
}

.bottom-social-share {
	margin: 40px 0;
	width: 100%;
	display: block;
	clear: both;
}

.bottom-social-share .social-share {
	width: 100%;
	float: left;
	text-align: left;
	font-size: 13px;
}

#page-wrapper #page-content {
	margin-top: 40px;
}

.vw-isotope .post-box-wrapper.col-sm-4.isotope-item:nth-child(1),
.vw-isotope .post-box-wrapper.col-sm-4.isotope-item:nth-child(2),
.vw-isotope .post-box-wrapper.col-sm-4.isotope-item:nth-child(3) {
}

.row.vw-isotope.post-box-list.isotope {
}

.isotope .isotope-item  {
	margin-left: -1px;
}